.terraform/
terraform/envs/dev/terraform.tfstate
*.tfstate
*.tfstate.backup
terraform/envs/dev/terraform.lock.hcl 
terraform/envs/dev/terraform.tfstate.backup

# Archivos de registro de crash de Terraform (si existen)
crash.log

*.tfvars
terraform.tfstate*
